In [28]:
#Random forests are a popular supervised machine learning algorithm that can handle both regression and classification tasks
''' 
Random forests are for supervised machine learning, where there is a labeled target variable.
Random forests can be used for solving regression (numeric target variable) and classification (categorical target variable) problems.
Random forests are an ensemble method, meaning they combine predictions from other models.
Each of the smaller models in the random forest ensemble is a decission tree

'''
'''
Feature engineering
Split the data
Train the model
Hyperparameter tuning
Assess model performance


'''
#Data Ref
#https://www.kaggle.com/code/suhasshastry/bank-marketing-analysis-for-term-deposit/notebook
'''


'''

'\n\n\n'

In [29]:
# Data Processing
import pandas as pd
import numpy as np

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay

from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
#import graphviz
from sklearn.model_selection import RandomizedSearchCV, train_test_split

In [12]:
bank_data=pd.read_csv("bank-additional-full.csv",sep=';')
bank_data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [13]:
# Select only the desired columns
bank_data = bank_data[['age', 'default', 'cons.price.idx', 'cons.conf.idx', 'y']]
display(bank_data.head())

   age  default  cons.price.idx  cons.conf.idx   y
0   56       no          93.994          -36.4  no
1   57  unknown          93.994          -36.4  no
2   37       no          93.994          -36.4  no
3   40       no          93.994          -36.4  no
4   56       no          93.994          -36.4  no

In [14]:
bank_data.tail()

       age default  cons.price.idx  cons.conf.idx    y
41183   73      no          94.767          -50.8  yes
41184   46      no          94.767          -50.8   no
41185   56      no          94.767          -50.8   no
41186   44      no          94.767          -50.8  yes
41187   74      no          94.767          -50.8   no

In [15]:
bank_data.isnull().sum()

age               0
default           0
cons.price.idx    0
cons.conf.idx     0
y                 0
dtype: int64

In [45]:
bank_data.nunique()

age               78
default            2
cons.price.idx    26
cons.conf.idx     26
y                  2
dtype: int64

In [22]:
mycolumn=bank_data['default'].map({'no':0,'yes':1,'unknown':0})

#bank_data['default'] = bank_data['default'].map({'no':0,'yes':1,'unknown':0})

mycolumn =  bank_data['y'].map({'no':0,'yes':1})
#bank_data['y'] = bank_data['y'].map({'no':0,'yes':1})

In [47]:
mycolumn.info()

<class 'pandas.core.series.Series'>
Index: 41189 entries, 0 to y
Series name: default
Non-Null Count  Dtype
--------------  -----
1 non-null      object
dtypes: object(1)
memory usage: 1.6+ MB

In [23]:
# Split the data into features (X) and target (y)
#X = mycolumn.drop('y', axis=1)

ValueError: No axis named 1 for object type Series

In [ ]:
#y = mycolumn['y']

# Split the data into training and test sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)