In [1]:
#Pandas Data Science Library
import numpy as np
import pandas as pd
print(pd.__version__)

2.2.3

In [2]:
# numpy array

arr = np.array([10,20,30,40])

print(arr)

print(type(arr))

[10 20 30 40]
<class 'numpy.ndarray'>

In [3]:
#numpy array
#1D labelled array ( sebab ada tambahan indeks kat tepi 

s = pd.Series([10,20,30,40])
print(type(s))
print(s)

#numpy only numbers
#seris --> numbers + labels (index)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
dtype: int64

In [4]:
#in dictionaries  tak boleh panggil array guna indeks number, dalam series boleh
#dictionaries kena assign variable untuk panggil data

#dictionaries ( slicing not allowed) only indexing

import pandas as pd

info = pd.Series(['John', 28, 6700, 'KL'], index=['name', 'age', 'sal', 'city'])
print(info)
print(info['sal'])
print(info.iloc[2])

name    John
age       28
sal     6700
city      KL
dtype: object
6700
6700

In [5]:
#values
print(info.values)

['John' 28 6700 'KL']

In [6]:
#indexcing slicing and using loops
# Indexing Slicing and Using Loops

s = pd.Series([10,20,30,40,50,60,70] , index=['val1','val2','val3','val4','val5','val6','val7'])

print(s)

val1    10
val2    20
val3    30
val4    40
val5    50
val6    60
val7    70
dtype: int64

In [7]:
#indexcing in series can be done by using [] ior iloc []
#[] labels
#.loc for both [index Number + labels]
#iloc ---> i stand for index loc----> location
print(s.loc['val1']) #use fpr labels
print(s.iloc[2])  #use for numbers
print(s['val3'])   #use for labels // not advise use this to general easy to trigger error

10
30
30

In [8]:
import pandas as pd

# Slicing
#   values : 10  20  30  40  50  60  70
#   index  :  0   1   2   3   4   5   6
#   labels : v1  v2  v3  v4  v5  v6  v7

#s = pd.Series([10, 20, 30, 40, 50, 60, 70],
#              index=['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7'])

# slicing by position
print(s[1:6])
print()

# when slicing by labels, the end label is included
print(s['val2':'val6'])

val2    20
val3    30
val4    40
val5    50
val6    60
dtype: int64

val2    20
val3    30
val4    40
val5    50
val6    60
dtype: int64

In [9]:
# val1 val4 val7
print(s[['val1','val4','val7']]) #two or double square bracket untuk more than 1 labels

val1    10
val4    40
val7    70
dtype: int64

In [10]:
# conditional selection
print(s[s % 4 == 0])

val2    20
val4    40
val6    60
dtype: int64

In [11]:
#using loops
for i in s:
    print(i)

10
20
30
40
50
60
70

In [12]:
#guna items
for k,v in s.items():
    print(k,v)

val1 10
val2 20
val3 30
val4 40
val5 50
val6 60
val7 70

In [13]:
for i in enumerate(s):  #ini hanya kan beri indeks nombor value untuk key tak akan keluar
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)

In [1]:
#pandas dataframe -- display 2D , row & column, jangan lupa letak coma kat hujung data
'

data = {'name':['John','Alex','Smith'],
        'dept':['IT','HR','MR'],
        'sal' :[6700,5600,3400],
        'city':['KL','JB','ML']
}
print(data)

SyntaxError: unterminated string literal (detected at line 2) (4253601103.py, line 2)

In [ ]:
df = pd.DataFrame(data)
print(df)

In [ ]:
df

In [ ]:
data = {
    'Calories': [420, 380, 560],
    'Duration': [56, 30, 75]
}

df = pd.DataFrame(data, index=['Day1', 'Day2', 'Day3'])
df

In [ ]:
df['Calories']

In [ ]:
df[['Calories','Duration']]

In [ ]:
df.loc[['Day2','Day3']]

In [ ]:
# Using Pandas To Deal With Diff Diff File Formats

      # Read an excel file

      # Read an csv file

      # Read a txt file

      # Read json file

      # Upload Local Files

	  # Read a sql file


df= pd.read_excel('https://raw.githubusercontent.com/yash240990/Python/master/sampleExcelData.xlsx')
df

In [ ]:
#excel file()

exfile = pd.ExcelFile('https://raw.githubusercontent.com/yash240990/Python/master/sampleExcelData.xlsx')
exfile.sheet_names

In [ ]:
df = pd.read_excel(exfile,'Sheet2')
df

In [ ]:
# ExcelFile()

excelfile = pd.ExcelFile('https://raw.githubusercontent.com/yash240990/Python/master/sampleExcelData.xlsx')

excelfile.sheet_names

df = pd.read_excel(excelfile,'Sheet2')

df

In [ ]:
# ExcelFile()

df = pd.read_csv('https://raw.githubusercontent.com/yash240990/Python/master/Position_Salaries.csv')
df

In [ ]:
# finding the sum of salary using Pandas
salaries = df['Salary']
print(type(salaries))
total_sal = salaries.sum()
print(total_sal)

In [ ]:
# finding the sum of salary using Numpy
salaries = df['Salary'].to_numpy()
print(type(salaries))
total_sal = np.sum(salaries)
print(total_sal)

In [ ]:
#letak sep /seperator jika deal dengan file txt tetapi tetap guna read_csv

df = pd.read_csv('https://raw.githubusercontent.com/yashy1626/ds_dataset/refs/heads/main/iris.txt',sep='\t')
df

In [ ]:
# read_json()
#used to read json file format

df= pd.read_json('https://raw.githubusercontent.com/yash240990/Python/master/simple.json')
df

In [15]:
#upload data from local file
df = pd.read_csv('mydata.csv')
df

,id,first_name,last_name,email,gender,ip_address
0,1,Moreen,Bwy,mbwy0@blogspot.com,Female,202.40.211.37
1,2,Sheba,Peakman,speakman1@dailymotion.com,Female,41.28.200.54
2,3,Garek,Glendza,gglendza2@hugedomains.com,Male,52.240.49.47
3,4,Brigida,Seage,bseage3@skyrock.com,Female,180.206.77.140
4,5,Shena,Lissaman,slissaman4@elegantthemes.com,Female,248.192.227.27
...,...,...,...,...,...,...
995,996,Rudy,Lathee,rlatheern@wisc.edu,Male,168.7.92.3
996,997,Obediah,De Launde,odelaundero@de.vu,Male,243.136.215.251
997,998,Fred,Storrier,fstorrierrp@sfgate.com,Female,248.180.166.192
998,999,Rourke,Lewnden,rlewndenrq@de.vu,Male,21.133.224.73
999,1000,Lura,McGruar,lmcgruarrr@hubpages.com,Female,131.60.3.132